/* google font use work sans */


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;500;700;900&family=Scheherazade+New:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');


/* shared styles */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary{
    border-radius: 8px;
background: #FF900E;
border: none;
padding: 15px 20px;
color: #ffff;
font-size: 1.25rem;
cursor: pointer;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 106px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
nav h3{
    font-size: 3rem;
color: #131313;
font-weight: 700;
margin-bottom: 20px;

}
nav> ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}
nav ul li a{
  text-decoration: none;
  color: #424242;
}
.banner-content{
  
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-weight: 700;
    font-size: 3rem;
    color: #131313;
    margin-top: 100px;
}
.banner-description{
    font-size: 1.4rem;
    font-weight: 400;
    color: #727272;
    margin-bottom: 30px;
    margin-top: 15px;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}
/* header styles end */


/* main styles start */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* teams style start */

.teams-container{
    display: flex;
    align-items: center;
    margin-top: 45px;
}
.temes-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-content{
    padding: 0px 70px;
}

.teams-title{
    font-size: 2.8rem;
font-weight: 500;
}
.teams-title .quick{
    color: #727272;
}
.teams-title .feat{
    color: #FF900E;
}
.teams-title .of-our{
    color: #131313;
}
.team-description{
    color: #727272;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
/* teams style end */

/* featured style start */
.featured{
    display: flex;
    justify-content: space-around;

}
.featured-head{
    margin-top: 100px;margin-bottom: 100px;

}
.featured-head h1{
    font-size: 2.4rem;
    color: #131313;

font-weight: 700;
margin-top: 80px;
margin-bottom: 20px;
padding-left: 20px;
}

.featured-head p{
    font-size: 1rem;
    font-weight: 400;
    color: #131313;
    margin-bottom: 50px;
    padding-left: 20px;
}
.featured .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 40px 30px;

}
.card-no{
    color: #424242;
    font-size: 2.3rem;
    margin: 5px 0px;

font-weight: 600;
}
.card-title{
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
   
}

 /* featured style end */


 /* enjoy section start */

.enjoy{
    display: flex;
    margin-top: 120px;
    gap: 100px;
    padding: 0 50px;
}
.enjoy .enjoy-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.enjoy-title{
    font-size: 2.5rem;
font-weight: 700;
color: #131313;
}
.enjoy-desp{
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 30px;
}
.enjoy-content .card{
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
padding: 30px;
margin-bottom: 20px;
}
.card h4{
    font-size: 20px;
color: #131313;
font-weight: 600;
}
.card p{
font-size: 16px;
font-weight: 400;
color: #727272;
margin-top: 5px;
}
.tenyears{
    border-radius: 8px;
background: #FF900E;
color: #ffff;
width: 300px;
padding: 40px;
}
.tenyears h2{
    font-size: 4rem;

font-weight: 700;
}


 /* enjoy section end */
/* icon section start */
.all-icon{
    text-align: center;
}
.icon-title{
    text-align: center;
}
.icon-title h1{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;

}
.icon-title p{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    align-items: center;
}
footer{
    border-radius: 8px;
    background: #FFF4E7;
   margin-bottom: 10px;

}
footer p{
    padding: 22px 30px;
    text-align: center;
}



















/* responsive styles */
/* mobile devicess */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
       
    }
    nav, 
    .featured,
    .icons,
    .teams-container{
        flex-direction: column;
    }
    .temes-img{
        grid-template-columns:  1fr;
    }
    .teams-content{
        padding: 0px 20px;
    }
    .featured {
        padding: 20px 20px;
        gap: 20px;
     
    }
    .icons img{
        padding: 20px 0px;
    }
}
/* medium devices */
@media screen and (min-width:576px) and (max-width: 960px) {
    header{
        padding: 50px;
       
    }
    nav, .teams-container, .icons{
        flex-direction: column;
      
    }
    .icons img{
        padding: 20px;
    }
}